<header class="page-header">
  <div class="container header-container">
    <a class="logo" href=""
      >SIMPLY CHOCOLATE
      <svg width="21" height="21">
        <use href="./img/icons.svg#icon-chocolate"></use>
      </svg>
    </a>
    <button class="header-menu-btn">
      <svg width="28" height="28">
        <use href="./img/icons.svg#icon-mobile-open-btn"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item"><a class="nav-link" href="">Home</a></li>
        <li class="nav-list-item">
          <a class="nav-link" href="">How it’s made?</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
